<article>
    <h1>About the Linux Foundation</h1>
    <p>
        The Linux Foundation is dedicated to building sustainable ecosystems around open source projects to accelerate
        technology development and industry adoption.
    </p>
    <p>
        Founded in 2000, the Linux Foundation provides unparalleled support for open source communities through
        financial
        and intellectual resources, infrastructure, services, events, and training. Working together, the Linux
        Foundation
        and its projects form the most ambitious and successful investment in the creation of shared technology.
    </p>
    <h3>
        The World’s Most Important Open Source Software Project
    </h3>
    <p>
        Linux is the largest and most pervasive open source software project in history. It has seen massive acceptance
        in
        almost every sector, including financial services, government, education, and even film production.
    </p>
    <p>
        Linux is also the operating system of choice to support cutting-edge technologies such as the Internet of
        Things,
        cloud computing, and big data.
    </p>
    <p>
        The Linux Foundation, the home of Linux creator Linus Torvalds and lead maintainer Greg Kroah-Hartman, provides
        a
        neutral home where Linux kernel development can be protected and accelerated for years to come.
    </p>
    <h2>
        More Than Linux
    </h2>
    <p>
        The Linux Foundation has taken its experience and expertise supporting the Linux community to help establish,
        build,
        and sustain some of the most critical open source technologies. Its work today extends far beyond Linux,
        fostering
        innovation in every layer of the software stack. The Linux Foundation hosts projects spanning enterprise IT,
        embedded systems, consumer electronics, cloud, networking, and more.
    </p>

    <p>
        A few of these high-velocity projects that are helping redefine what’s possible include Hyperledger for
        cross-industry blockchain technologies; Automotive Grade Linux, the open software platform for automotive
        applications; the Open Network Automation Platform project (ONAP) for real-time, policy-driven software
        automation
        of virtual network functions; and Kubernetes, the Cloud Native Computing Foundation project for production-grade
        container orchestration.
    </p>

    <h2>
        Billions of Dollars of Shared Value
    </h2>
    <p>
        The collective value of the code in Linux Foundation projects is estimated at roughly $16 billion, and it’s
        growing
        every day1. This code is the result of the work of thousands of developers encouraged by sustainable open source
        ecosystems, which attract the long-term support and investment of a diverse group of developers and
        organizations.
        As these communities grow, evolve and enjoy success, resources are funneled back into the further development of
        the
        projects for the benefit of all.
    </p>
    <h2>
        Over 1,000 Members
    </h2>
    <p>
        The Linux Foundation and its projects have more than 1,000 corporate members across the Americas, Asia-Pacific,
        and
        EMEA, including companies that are leaders in the strategic use of open source. A few include AT&T, Cisco,
        Fujitsu,
        Hitachi, Huawei, IBM, Intel, Microsoft, NEC, Oracle, Qualcomm, and Samsung. With these and many others, from
        startups to mid-market companies to specialists in industries such as finance and healthcare, we’re driving
        innovation worldwide.
    </p>
    <p>
        We also have thousands of individual supporters whose donations fund programs that help provide opportunities
        for
        underrepresented groups in technology and fund programs that develop the open source leaders of tomorrow.
    </p>
</article>