<article>
    <h1 class="big-header">
        The Linux Foundation and the projects we support form the most ambitious and successful investment in the
        creation
        of shared technology
    </h1>
    <h2>
        Largest Shared Technology Investment
    </h2>
    <p>
        The Linux Foundation supports the creation of sustainable open source ecosystems by providing financial and
        intellectual resources, infrastructure, services, events, and training.
    </p>

    <ul class="box-list">
        <li>
            <h3>16B USD</h3>
            <p>
                Estimated development cost of the 100+ world’s leading projects hosted at The Linux Foundation
            </p>
        </li>
        <li>
            <h3>35,000</h3>
            <p>
                Technologists attend our events annually, from more than 11,000 companies and 113 countries
            </p>
        </li>
        <li>
            <h3>1 Million</h3>
            <p>
                Open source professionals have enrolled in our free open source training courses
            </p>
        </li>
        <li>
            <h3>10 / 10</h3>
            <p>
                Largest cloud service providers are Linux Foundation project contributors and members
            </p>
        </li>
    </ul>
</article>